<!DOCTYPE HTML>
<html>
<head>
    {{#Summoner}}
        <title>{{name}} - 게임 전적</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {{/Summoner}}
</head>
<body>