{{>layout/header}}

<div class="col-md-12">
    <h1>채건 GG Ver.2</h1>
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <input type="text" class ="form-control" name="name" autocomplete="off" placeholder="소환사명을 입력하세요." onKeyPress="a()" id="inp">
                <button onClick="b()" class="btn btn-primary" id="btn-summoner-find">검색</button>
            </div>
        </form>
    </div>
    <script language="JavaScript">
        var link = "";
            const a=()=>{
                const inp = document.getElementById("inp").value;
                link = inp;
            }
            const b=()=>{
                window.location.href = `/summoner/${link}`
            }
    </script>
</div>

{{>layout/footer}}