{{>layout/header}}

<div class="col-md-12">
    <h1>채건 GG Ver.2</h1>
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <input type="text" class ="form-control" autocomplete="off" placeholder="소환사명을 입력하세요." onKeyUp="a()" id="inp">
                <a href="#" type = "button" onclick="b()" class="btn btn-primary" id="btn-summoner-find">검색</a>
            </div>
        </form>
    </div>
    <script language="JavaScript">
        var link = "";
            const a=()=>{
                const inp = document.getElementById("inp").value;
                link = inp;
                console.log(link)
            }
            const b=()=>{
                window.location.href = "/summoner/" + link;
            }
    </script>
</div>

{{>layout/footer}}